@model Majal.Models.user

@{
    ViewBag.Title = "login";
}

<fieldset>
    <legend>Majal Login Form</legend>
    <form method="post" action="" novalidate="novalidate">
        <div class="form-group">
            @Html.DisplayNameFor(a => a.user_name)<br />
            @Html.EditorFor(a => a.user_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.user_name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.password)<br />
            @Html.EditorFor(a => a.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</fieldset>
